<div>
  <p>This app visualises the temperature records for a few locations.</p>
  <h3>Why</h3>
  <p>Oftentimes, you hear or read statements like 'this is the warmest <a href="http://nos.nl/artikel/716539-warmste-1-november-ooit.html">1st of November</a>
    on record', which by many is taken as an indication that the climate is getting warmer. At the same time, record-breaking low temperatures are also occasionally
    measured, which are then used by others to 'disprove' global warming.</p>
  <p>I thought it'd be an interesting exercise to visualise these records, and show for each of the 366 days of the year, both the year in which the highest temperature, and
    that in the lowest temperature (on record) were measured.</p>

  <h3>Disclaimer</h3>
  <p>This is not rigorous science. Trends in temperature and climate are complex and cannot be reduced to the occurrence of extreme values. A much more useful
    visualisation, for example, is plotting the average temperature for <emph>all</emph> years, and see the trend line from there. Also, global warming might in
    some places result in 'local cooling', so looking at a single geographic location must not be representative of a larger area.
  </p>
</div>
